<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      To set another alert, head on over to: <%=link_to 'CoinHowl.com', @url %>
    </p>
  </body>
</html>
