/* line 11, /Users/user/Desktop/bitmaker/projects/coinhowl/app/assets/stylesheets/creators.scss */
#howl {
  font-weight: bolder;
  color: darkblue;
}

/* line 16, /Users/user/Desktop/bitmaker/projects/coinhowl/app/assets/stylesheets/creators.scss */
#header-description {
  color: darkslategrey;
  font-style: italic;
  line-height: 2;
  padding: 10px 0 50px;
}
