<main id="creators-container">
  <h1 class="center-align">Coin Howl</h1>

  <div id="main-container" class="row center-align">
    <div class="col s12">
      <h5>
        From watching Ari monitor cryptocurrency market prices, <br/>
        to forcing Horacio to buy some Bitcoin...</br>
        Ari, Michelle, and Horacio took it upon themselves to create a cryptocurrency tracker and alerts application that is informative enough for the pros,<br />
        while being approachable and user-friendly for newbies.
      </h5>
    </div>
    <div class="col s4">
      <%= image_tag("logo", size: "300x300", class: "cyan creator-pic") %>
      <h5>"Just buy some Bitcoin already!"</h5>
      <p> - ARI</p>
    </div>
    <div class="col s4">
      <%= image_tag("logo", size: "300x300", class: "cyan creator-pic") %>
      <h5>"How do I spend it?"</h5>
      <p>- MICHELLE</p>
    </div>
    <div class="col s4">
      <%= image_tag("logo", size: "300x300", class: "cyan creator-pic") %>
      <h5>"My investments grew 60% in 2 weeks!"</h5>
      <p>- HORACIO</p>
    </div>

  </div>
</main>
