// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody {
  line-height: 0.1;
}

.card .card-title {
  font-weight: 400;
}

.strong {
  font-weight: 500;
}

.symbol {
  font-size: 2.4rem;
}

.coin-image {
  width: 25px;
  height: 25px;
}
td #coinsIndex {
  padding: 4px 10px;

}

span .red-text {
  vertical-align: middle;
  text-align: center;
}

span .green-text {
  vertical-align: middle;
  text-align: center;
}

#chartdiv {
  width		: 100%;
  height		: 500px;
  font-size	: 11px;
}

.coin-title {
  font-size: 1.1rem;

}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

table[data-sortable] .no-image {
  padding-left: 45px;
}

table.highlight > tbody > tr:hover {
  background-color: lightblue;
}

#show-coin-table td {
  padding: 7px;
}
