// Place all the styles related to the Creators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#creators-container {
  background-image: url("logo-svg.svg");
  background-color: #E3E3E3;
  background-size: cover;
}

.creator-pic {
  border-radius: 50%;
}
