<h1>Portfolio</h1>

<% @following.each do |follow| %>
  <p><%= follow.coin_name %></p>
  <% follow.alerts.each do |alert| %>
    <%= alert.price_below %>
    <%= alert.price_above %>
    <%= alert.state %>
    <br>
  <% end %>
<% end %>
