<div class="col s12 m12 l12">
  <div class="carousel carousel-slider center" data-indicators="true">
    <!-- <div class="carousel-fixed-item center">
      <a class="btn waves-effect blue white-text darken-text-2">button</a>
    </div> -->
    <div class="carousel-item yellow black-text" href="#one!">
      <div class="row">
        <div class="col s5">
          <img src="https://bittrexblobstorage.blob.core.windows.net/public/0f3f4789-b356-4091-a006-3761ed41c8bd.png" class="carousel-img">
        </div>
        <div class="col s7">

          <% name = @response_only_btc.select {|coin| coin["MarketName"].include?("BTC-ADA")} %>
          <h3><%= name[0]["MarketName"] %></h3>

        </div>
      </div>
  </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
</div>
