<ul>
  <% @result.each do |element| %>
  <li>  <a href="coins/<%= element['symbol'] %>"><%= element['name'] %></a>
    <%= number_to_currency(element['price_cad'], precision: 2)  %>
    <br></li>
  <% end %>
</ul>
<!-- the href is the symbol because we want the symbol to be the coin_name in the Following table -->
